<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent Dashboard</title>
    <!-- Icon -->
    <link rel="shortcut icon" href="{{ url_for('static',filename='media/CCR.svg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/agent-dashboard.css') }}" type="text/css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom d-flex p-4 justify-content-around">
        <div class="container-fluid">
            <div><a href="#back" onclick="history.go(-1)"><img
                        src="{{ url_for('static',filename='media/left-arrow.svg') }}" alt="back"
                        style="height: 30px; width:30px"></a></div>
            <div class="px-3">
                <h2>Customer Care Registry</h2>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                    <li class="nav-item active px-3" style="font-size: 1.4rem;"><a class="nav-link" href="/">Home</a>
                    </li>
                    <!-- <li class="nav-item"><a class="nav-link" href="#!">Link</a></li> -->
                    <li class="nav-item dropdown px-3">
                        <a class="nav-link dropdown-toggle" style="font-size: 1.4rem;" id="navbarDropdown" href="#"
                            role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">{{agentname}}</a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/agentprofile">My Account</a>
                            <a class="dropdown-item" href="/agentlogout">Log-out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row pt-5 d-flex justify-content position-sticky">
        <div class="sidebar col-sm-3 col-md-2 px-4 py-4 pt-5 text-center">
            <ul class="list-group nav nav-sidebar pt-5">
                <a href="/agentdashboard">
                    <li class="list-group-item p-5">Agent Dashboard</li>
                </a>
                <a href="/agenthistory">
                    <li class="list-group-item p-5">History</li>
                </a>
            </ul>
        </div>


        <div class="col-sm-10 col-md-10 col-sm-offset-3 col-md-offset-2 px-5 pt-4 main" id="view">
            <div class="card col-11 bg-light p-1">
                <div class="card-header text-center">
                    <div class="d-flex fs-5 justify-content-between" style="font-weight: 500;">
                        <div class="col-2 col-md-2">
                            <p class="card-title text-center" id="text0">C.No</p>
                        </div>
                        <div class="col-3 col-md-3">
                            <p class="card-title text-center" id="text1">Complainter name</p>
                        </div>
                        <div class="col-4 col-md-4">
                            <p class="card-title text-center" id="text2">Subject</p>
                        </div>
                        <div class="col-3 col-md-3">
                            <p class="card-title text-center" id="text3">Status</p>
                        </div>
                    </div>
                </div>



                {% for data in complaints %}
                <div class="card-body col-12">
                    <div class="d-flex g-3 d-flex justify-content-between">

                        <!-- complaint no -->
                        <div class="col-2 col-md-2 mb-4">
                            <p class="card-text text-center" id="text0">{{data[1]}}</p>
                        </div>
                        <!-- complainter name -->
                        <div class="col-3 col-md-3 mb-4">
                            <p class="card-text text-center" id="text1">{{data[2]}}</p>
                        </div>
                        <!-- subject -->
                        <div class="col-4 col-md-4 mb-4">
                            <p class="card-text text-center" id="text2">{{data[4]}}</p>
                        </div>
                        <!-- status -->
                        <div class="col-3 col-md-3 mb-4">
                            {% if 'success' in data %}
                            <p class="card-text text-center text-success" id="text3">{{data[6]}}</p>
                            {% elif 'failure' in data %}
                            <p class="card-text text-center text-danger" id="text3">{{data[6]}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="divider d-flex  pt-4"></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>